* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.nav-link:hover {
  text-decoration: underline #8576ff;
  font-size: 26px;
  transition: 0.5s;
}
.navbar {
  background-color: #e9ecef;
  transition: 0.8s;
}
.navbar.sticky {
  background-color: #f6f5f2;
  color: #ffffff;
}
.navbar-brand h1 {
  font-size: 30px;
  font-weight: bold;
  color: #8576ff;
}
.navbar-nav {
  font-size: 25px;
}
.nav-link a {
  color: black;
}
.dropdown-menu {
  font-size: 20px;
}
.jumbotron {
  padding: 0;
  margin: 0;
}
.sementara {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.col-sm h2 {
  font-size: 50px;
}
.col-sm span {
  font-style: italic;
  color: #8576ff;
  font-weight: bold;
}
.col-sm h4 {
  font-size: 30px;
}
.btn {
  font-size: 25px;
  background-color: #8576ff;
  border-radius: 17px;
}
.btn a {
  color: #ffff;
  text-decoration: none;
}
.btn:hover {
  font-size: 28px;
  transition: 0.8s;
  background-color: black;
}
.jumbotron1 {
  background-color: #f6f5f2;
}
.col-xl h3 {
  font-size: 35px;
  font-weight: bold;
}
.col-xl h5 {
  margin: 0;
}
.col-xl span {
  font-size: 28px;
  color: #8576ff;
}
.card {
  border-radius: 20px;
}
